body {
    margin: 0;
    padding: 0;
    font-family: Karla;
    font-size: 16px;
}

.circle {
    width: 350px;
    height: 270px;
    border: 2px solid limegreen;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.circle a {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: limegreen;
    text-decoration: none;
    font-size: 50px;
}

.nav-month-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.nav-month-bar li {
    float: left;
}

.nav-month-bar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: limegreen;
}

.nav-month-bar li a:hover {
    background-color: #eeeeee;
}

.nav-item-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
    float: right;
}

.nav-item-bar li {
    float: right;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: limegreen;
}

.nav-item-bar li:hover {
    color: #ddd;
    cursor: pointer;
}

.about-box {
    background-color: limegreen;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.5s;
    overflow: hidden;
    z-index: 8;
}

.about-box p {
    color: white;
    margin: 7px 5px 5px 300px;
}

.about-box.show {
    height: 130px;
}

.top-bar {
    width: 100%;
    height: 498px;
    background-color: white;
    border-bottom: 2px solid limegreen;
    position: fixed;
    top: -500px;
    left: 0;
    transition: top 0.5s;
    z-index: 9;
}

.top-bar.show {
    top: 0;
}

.side-bar {
    width: 498px;
    height: 100%;
    background-color: white;
    border-left: 2px solid limegreen;
    position: fixed;
    top: 0;
    right: -500px;
    transition: right 0.5s;
    z-index: 10;
    color: limegreen;
}

.side-bar h1 {
    font-size: 26px;
    font-weight: thin;
    margin: 20px;
    border-bottom: 2px solid limegreen;
    color: limegreen;
}

.side-bar p {
    margin: 0px 20px;
    color: limegreen;
}

input[type="text"] {
    width: 350px;
    background-color: beige;
    color: green;
    border: none;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    outline: none;
    z-index: 1;
}

::placeholder {
    color: green;
}

.dropdown {
    display: none;
    width: 370px;
    max-height: 200px;
    overflow-y: auto;
    color: green;
    background-color: beige;
    border-top: 2px solid green;
    padding: 0;
    margin: 0px 20px;
    list-style: none;
    z-index: 2;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #ddd;
}

.flower-box {
    list-style-type: none;
    border: 2px solid limegreen;
    color: limegreen;
    margin: 10px 0px;
    width: 200px;
    height: 200px;
    background-color: white;
    cursor: pointer;
}

.flower-box:hover .remove {
    display: block;
}

.remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: limegreen;
    z-index: 1;
}

.flower-box:hover::after {
    content: 'x';
    float: right;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    color: limegreen;
    background-color: white;
    border: 2px solid limegreen;
    cursor: pointer;
    z-index: 1;
}

.side-bar.show {
    right: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 120px 0px 75px 0px;;
    justify-content: center;
}

.intro-box {
    width: 60%;
    padding: 0px 20px;
    border-bottom: 2px solid tomato;
    color: limegreen;
}

.intro-box h1 {
    font-size: 28px;
}

.left-box {
    margin-right: 400px;
    margin-top: 50px;
    width: 600px;
    padding: 0px 20px;
    border-bottom: 2px solid orange;
    color: limegreen;
}

.left-box h1 {
    font-size: 24px;
}

.right-box {
    margin-left: 400px;
    margin-top: 50px;
    width: 600px;
    padding: 0px 20px;
    border-bottom: 2px solid peru;
    color: limegreen;
}

.right-box h1 {
    font-size: 24px;
}